.page-header {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.page-header__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.page-header-nav {
    margin-top: -6px;
    position: relative;
    min-height: 56px;
    background-color: #fff;
    line-height: 0;
}

.page-header__invitation {
    position: relative;
    background-image: url('../img/invitation-bg-mob.jpg');
    background-repeat: no-repeat;
}

@media (min-resolution: 1.5dppx) {
	.class {
        background-image: url('../img/invitation-bg-mob_2x.jpg');
    }
}

.page-header__invitation__img {
    padding-top: 90px;
    padding-bottom: 85px;
    display: block;
    text-align: center;
}



@media (min-width: 321px) {
    .page-header__invitation {
        background-image: url('../img/invitation-bg.jpg');
        background-repeat: no-repeat;
        background-position: top center;
    }
}

@media (min-resolution: 1.5dppx) {
	.class {
        background-image: url('../img/invitation-bg_2x.jpg');
    }
}

// Всплывающее меню для мобилки //
@media (min-width: 320px) and (max-width: 767px) {
    .page-header-nav {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: transparent;
            box-shadow: 0 -1px 4px 0 rgba($color: #000000, $alpha: 0.5);
        }
    }

    .main-nav--closed {
        & .site-list {
            display: none;
        }
    }

    .main-nav--closed .main-nav__toogle {
        content: '';
        position: absolute;
        top: 17px;
        right: 20px;
        display: inline-block;
        width: 23px;
        height: 4px;
        background-color: #81b3d2;
        box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
    }

    .main-nav--open {
        margin-top: 224px;
        & .site-list {
            display: block;
        }
    }

    .main-nav--open .main-nav__toogle {
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: -210px;
            right: 25px;
            display: inline-block;
            width: 4px;
            height: 28px;
            background-color: #fff;
            z-index: 2;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}


@media (min-width: 768px) {
    .page-header-nav {
        display: block;
        min-height: 0;
        height: auto;
        background-color: #fff;
    }

    .page-header__invitation {
        background-position: center;
    }

    .page-header__invitation__img {
        padding-top: 77px;
        padding-bottom: 90px;
    }

}