@font-face {
  font-family: 'PTSans';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PTSans-Regular.ttf"); }

@font-face {
  font-family: 'PTSans';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/PTSans-Bold.ttf"); }

body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-width: 320px;
  max-width: 1200px;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  background-color: #f2f2f2; }

@media (min-width: 1200px) {
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: transparent;
    box-shadow: 0 0 15px 0px black;
    z-index: -1; }
  body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: transparent;
    box-shadow: 0 0 15px 0px black;
    z-index: -1; } }

* {
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1, h2, h3, a, p, span, ul, li, button {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

button {
  outline: none;
  border: none; }

a {
  text-decoration: none;
  color: #ffffff;
  outline: none;
  border: none; }

.page-header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px; }

.page-header__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; }

.page-header-nav {
  margin-top: -6px;
  position: relative;
  min-height: 56px;
  background-color: #fff;
  line-height: 0; }

.page-header__invitation {
  position: relative;
  background-image: url("../img/invitation-bg-mob.jpg");
  background-repeat: no-repeat; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .page-header__invitation {
    background-image: url("../img/invitation-bg-mob_2x.jpg"); } }

.page-header__invitation__img {
  padding-top: 90px;
  padding-bottom: 85px;
  display: block;
  text-align: center; }

@media (min-width: 321px) {
  .page-header__invitation {
    background-image: url("../img/invitation-bg.jpg");
    background-repeat: no-repeat;
    background-position: top center; } }

@media (min-width: 321px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 321px) and (min-resolution: 1.5dppx) {
  .page-header__invitation {
    background-image: url("../img/invitation-bg_2x.jpg"); } }

@media (min-width: 320px) and (max-width: 767px) {
  .page-header-nav::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: transparent;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.5); }
  .main-nav--closed .site-list {
    display: none; }
  .main-nav--closed .main-nav__toogle {
    content: '';
    position: absolute;
    top: 17px;
    right: 20px;
    display: inline-block;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }
  .main-nav--open {
    margin-top: 224px; }
    .main-nav--open .site-list {
      display: block; }
  .main-nav--open .main-nav__toogle::before, .main-nav--open .main-nav__toogle::after {
    content: '';
    position: absolute;
    top: -210px;
    right: 25px;
    display: inline-block;
    width: 4px;
    height: 28px;
    background-color: #fff;
    z-index: 2; }
  .main-nav--open .main-nav__toogle::before {
    transform: rotate(45deg); }
  .main-nav--open .main-nav__toogle::after {
    transform: rotate(-45deg); } }

@media (min-width: 768px) {
  .page-header-nav {
    display: block;
    min-height: 0;
    height: auto;
    background-color: #fff; }
  .page-header__invitation {
    background-position: center; }
  .page-header__invitation__img {
    padding-top: 77px;
    padding-bottom: 90px; } }

.page-header__invitation--photo {
  background-image: url("../img/photo-invitation-bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: center bottom; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .page-header__invitation--photo {
    background-image: url("../img/photo-invitation-bg-mob_2x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom; } }

.page-header__invitation__img--photo {
  padding-top: 52px;
  padding-bottom: 67px;
  height: 39px;
  box-sizing: content-box; }

@media (min-width: 768px) {
  .page-header__invitation--photo {
    background-image: url("../img/photo-invitation-bg-table_desk.jpg");
    background-repeat: no-repeat;
    background-position: center bottom; }
  .page-header__invitation__img--photo {
    padding-top: 95px;
    padding-bottom: 117px;
    height: 78px; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .page-header__invitation--photo {
    background-image: url("../img/photo-invitation-bg-table_desk_2x.jpg"); } }

@media (min-width: 1200px) {
  .page-header__invitation__img--photo {
    padding-top: 101px;
    padding-bottom: 120px;
    height: 80px; } }

.page-footer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #fff; }

.page-footer__wrapper {
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 23px;
  width: 151px;
  text-align: center;
  text-transform: uppercase; }

.page-footer__hashtag {
  margin-bottom: 36px;
  font-family: "PTSans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }

.page-footer__social__wrapper {
  margin-bottom: 40px;
  width: 151px; }

.page-footer__social {
  width: 151px;
  display: flex;
  justify-content: space-between; }

.page-footer__social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2; }
  .page-footer__social__item:hover {
    background-color: #669ec0; }
  .page-footer__social__item:active {
    background-color: #5496bd; }
  .page-footer__social__item:active .twitter::before,
  .page-footer__social__item:active .facebook::before,
  .page-footer__social__item:active .youtube::before {
    opacity: 0.3; }

.twitter {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative; }
  .twitter::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 14px;
    display: inline-block;
    width: 18px;
    height: 14px;
    background-image: url("../img/icons/twitter.svg"); }

.facebook {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative; }
  .facebook::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 19px;
    display: inline-block;
    width: 9px;
    height: 18px;
    background-image: url("../img/icons/facebook.svg"); }

.youtube {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative; }
  .youtube::before {
    content: '';
    position: absolute;
    top: 17px;
    left: 13px;
    display: inline-block;
    width: 20px;
    height: 14px;
    background-image: url("../img/icons/youtube.svg"); }

.page-footer__htmlacademy svg {
  fill: #000; }
  .page-footer__htmlacademy svg:hover {
    fill: #81b3d2; }
  .page-footer__htmlacademy svg:active {
    fill: #b2b2b2; }

@media (min-width: 700px) {
  .page-footer__wrapper {
    padding: 36px 0 36px;
    padding-left: 7.81%;
    padding-right: 7.81%;
    display: flex;
    width: auto;
    box-sizing: content-box;
    text-align: left;
    align-items: center; }
  .page-footer__hashtag {
    margin: 0;
    width: 33.333%; }
  .page-footer__social__wrapper {
    margin-bottom: 0;
    width: 33.333%; }
  .page-footer__social {
    margin: 0 auto; }
  .page-footer__htmlacademy {
    width: 33.333%; }
    .page-footer__htmlacademy svg {
      float: right; } }

@media (min-width: 860px) {
  .page-footer__wrapper {
    padding-left: 8%;
    padding-right: 8%; } }

@media (min-width: 1000px) {
  .page-footer__wrapper {
    padding-left: 10%;
    padding-right: 10%; } }

.site-list {
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase; }

@media (min-width: 320px) and (max-width: 767px) {
  .site-list {
    position: relative;
    width: 100%;
    margin-top: -231px;
    text-align: center;
    background-color: #81b3d2; }
  .site-list__item {
    box-shadow: 0 1px rgba(1, 1, 1, 0.2), inset 0 2px rgba(255, 255, 255, 0.2); }
    .site-list__item:first-child::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #81b3d2; }
    .site-list__item:last-child::after {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: #81b3d2; }
    .site-list__item:hover {
      background-color: #669ec0; }
    .site-list__item:active {
      background-color: #5496bd; }
    .site-list__item:active a {
      opacity: 0.3; }
    .site-list__item a {
      padding-top: 8px;
      padding-bottom: 8px;
      display: inline-block;
      width: 60%;
      color: #fff; } }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    font-size: 14px;
    line-height: 26px; }
  .site-list__item {
    width: 19.92%; }
    .site-list__item:nth-child(2) {
      margin-right: auto; }
    .site-list__item a {
      padding-top: 15px;
      padding-bottom: 15px;
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #000;
      cursor: pointer; }
      .site-list__item a:hover {
        color: #81b3d2; }
      .site-list__item a:active {
        color: #b2b2b2; }
    .site-list__item a:not([href]) {
      color: #766357; }
    .site-list__item a:not([href]):hover {
      color: #604e43; }
    .site-list__item a:not([href]):active {
      color: #d6d0cc; } }

@media (width: 1200px) {
  .site-list {
    padding-right: 70px;
    padding-left: 91px; } }

.title {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
  background-color: #fff; }
  .title::before {
    content: '';
    position: absolute;
    top: -57px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../img/title-bg-mobile.png");
    background-repeat: no-repeat; }

.title__wrapper {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 42px;
  box-sizing: content-box;
  width: 87.5%;
  text-align: center;
  text-transform: uppercase; }

.title__designation {
  margin-bottom: 27px;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }

.title__reasons {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000; }

@media (min-width: 424px) {
  .title__designation br:first-child {
    display: none; } }

@media (min-width: 321px) and (max-width: 768px) {
  .title::before {
    background-image: url("../img/title-bg-tablet.png");
    background-position: top center; } }

@media (min-width: 768px) {
  .title__wrapper {
    padding-top: 52px;
    padding-bottom: 50px; }
  .title__designation br:first-child {
    margin-bottom: 29px;
    font-size: 21px; }
  .title__reasons br {
    display: none; } }

@media (min-width: 769px) {
  .title::before {
    background-image: url("../img/title-bg-desktop.png");
    background-position: top center; } }

@media (min-width: 1200px) {
  .title__designation br:first-child {
    margin-top: 50px; } }

.cause-1 {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
  background-color: #81b3d2;
  text-transform: uppercase;
  text-align: center; }
  .cause-1::before {
    content: '';
    position: absolute;
    top: -16px;
    left: 0;
    display: inline-block;
    width: 0;
    border-bottom: 16px solid #81b3d2;
    border-right: 50vw solid transparent; }
  .cause-1::after {
    content: '';
    position: absolute;
    top: -16px;
    right: 0;
    display: inline-block;
    width: 0;
    border-bottom: 16px solid #81b3d2;
    border-left: 50vw solid transparent; }

.cause-1__wrapper {
  padding-top: 40px;
  padding-bottom: 40px; }

.cause-1__name {
  margin-bottom: 10px;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #fff; }
  .cause-1__name br {
    display: none; }

.cause-1__number {
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #fff; }
  .cause-1__number::before, .cause-1__number::after {
    content: '';
    position: absolute;
    top: 9px;
    left: center;
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: #fff; }
  .cause-1__number::before {
    left: -13px; }
  .cause-1__number::after {
    right: -13px; }

.cause-1__addition {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #fff; }

.cause-1__picture {
  position: relative;
  overflow: hidden;
  height: 260px; }

.cause-1__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%; }

.cause-1__for-tourists-wrapper {
  width: 100%;
  background-color: #fff; }

.cause-1__for-tourists-list {
  padding: 26px 20px 37px;
  box-sizing: content-box;
  text-transform: uppercase;
  text-align: left; }

.cause-1__for-tourists-item {
  position: relative;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }
  .cause-1__for-tourists-item p {
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #000; }
  .cause-1__for-tourists-item:first-child {
    margin-bottom: 17px;
    padding-top: 9px;
    padding-left: 50px; }
    .cause-1__for-tourists-item:first-child::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 37px;
      height: 36px;
      background-image: url("../img/icons/icon-1.svg");
      background-repeat: no-repeat;
      background-size: contain; }
  .cause-1__for-tourists-item:nth-child(2) {
    margin-bottom: 23px;
    padding-top: 11px;
    padding-left: 50px; }
    .cause-1__for-tourists-item:nth-child(2)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 32px;
      height: 37px;
      background-image: url("../img/icons/icon-3.svg");
      background-repeat: no-repeat;
      background-size: contain; }
  .cause-1__for-tourists-item:last-child {
    padding-top: 5px;
    padding-left: 50px; }
    .cause-1__for-tourists-item:last-child::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 38px;
      height: 34px;
      background-image: url("../img/icons/icon-2.svg");
      background-repeat: no-repeat;
      background-size: contain; }
  .cause-1__for-tourists-item p {
    margin-top: 14px; }

@media (min-width: 521px) {
  .cause-1::before, .cause-1::after {
    display: none; }
  .cause-1__wrapper {
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 44PX;
    padding-left: 40px;
    width: 256px;
    float: left; }
  .cause-1__name {
    margin-bottom: 10px;
    font-size: 21px; }
  .cause-1__number {
    margin-bottom: 21px; }
  .cause-1__addition br {
    display: none; }
  .cause-1__picture {
    height: 256px; } }

@media (min-width: 768px) {
  .cause-1::before, .cause-1::after {
    display: none; }
  .cause-1__wrapper {
    padding-right: 5.88%;
    padding-left: 5.88%;
    width: 33.333%;
    float: left; }
  .cause-1__name br {
    display: block; }
  .cause-1__addition br {
    display: none; }
  .cause-1cause-1__picture {
    width: 66.666%; }
  .cause-1__for-tourists-list {
    padding: 0;
    padding-top: 57px;
    padding-bottom: 61px;
    position: relative;
    display: flex;
    width: 100%;
    text-align: center; }
  .cause-1__for-tourists-item {
    display: inline-block;
    width: 21.49%;
    font-size: 21px; }
    .cause-1__for-tourists-item:first-child {
      margin-left: 5.92%;
      margin-bottom: 0;
      margin-right: 11.84%;
      padding-top: 102px;
      padding-left: 0; }
      .cause-1__for-tourists-item:first-child::before {
        top: 3px;
        left: 50%;
        transform: translateX(-50%);
        width: 75px;
        height: 72px; }
    .cause-1__for-tourists-item:nth-child(2) {
      margin-bottom: 0;
      margin-right: 5.92%;
      padding-top: 102px;
      padding-left: 0;
      order: 3; }
      .cause-1__for-tourists-item:nth-child(2)::before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        height: 75px; }
    .cause-1__for-tourists-item:last-child {
      margin-bottom: 0;
      margin-right: 11.84%;
      padding-top: 102px;
      padding-left: 0;
      order: 2; }
      .cause-1__for-tourists-item:last-child::before {
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 77px;
        height: 68px; }
    .cause-1__for-tourists-item p {
      margin-top: 21px; } }

@media (min-width: 1046px) {
  .cause-1__wrapper {
    padding-top: 52px;
    padding-right: 5.4%;
    padding-bottom: 57px;
    padding-left: 5.4%; } }

@media (min-width: 1170px) {
  .cause-1__for-tourists-list {
    padding-bottom: 82px; } }

.cause-2 {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2; }

.cause-2__wrapper {
  padding-top: 39px;
  padding-bottom: 39px; }

.cause-2__name {
  margin-bottom: 9px;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #fff; }
  .cause-2__name br {
    display: none; }

.cause-2__number {
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #fff; }
  .cause-2__number::before, .cause-2__number::after {
    content: '';
    position: absolute;
    top: 10px;
    left: center;
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: #fff; }
  .cause-2__number::before {
    left: -13px; }
  .cause-2__number::after {
    right: -13px; }

.cause-2__addition {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #fff; }

.cause-2__picture {
  position: relative;
  height: 260px;
  overflow: hidden; }

.cause-2__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%; }

@media (min-width: 521px) {
  .cause-2__wrapper {
    padding-top: 45px;
    padding-right: 6.51%;
    padding-bottom: 44px;
    padding-left: 6.51%;
    width: 256px;
    float: right; }
  .cause-2__name {
    margin-bottom: 10px;
    font-size: 21px; }
    .cause-2__name br {
      display: block; }
  .cause-2__number {
    margin-bottom: 21px; }
  .cause-2__picture {
    height: 256px; } }

@media (min-width: 768px) {
  .cause-2__wrapper {
    width: 33.333%; }
  .cause-2__addition br {
    display: none; }
  .cause-2__picture {
    width: 66.666%; } }

@media (min-width: 1052px) {
  .cause-2__wrapper {
    padding-top: 53px;
    padding-bottom: 57px; } }

@media (min-width: 1105px) {
  .cause-2__wrapper {
    padding-right: 7%;
    padding-left: 7%; } }

.cause-minor {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase; }

.cause-minor__item {
  padding: 27px 20px 27px 20px;
  position: relative; }

.cause-minor__road,
.cause-minor__tourists {
  padding-top: 28px; }

.cause-minor__name {
  margin-bottom: 9px;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }
  .cause-minor__name br {
    display: none; }

.cause-minor__number {
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000; }
  .cause-minor__number::before, .cause-minor__number::after {
    content: '';
    position: absolute;
    top: 10px;
    left: center;
    display: inline-block;
    width: 9px;
    height: 2px;
    background-color: #000; }
  .cause-minor__number::before {
    left: -13px; }
  .cause-minor__number::after {
    right: -13px; }

.cause-minor__additio {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000; }

@media (min-width: 320px) and (max-width: 767px) {
  .cause-minor__road::before,
  .cause-minor__tourists::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    left: 20px;
    right: 20px;
    display: inline-block;
    width: auto;
    height: 1px;
    background-color: #d6d6d6; } }

@media (min-width: 340px) {
  .cause-minor__additio br {
    display: none; } }

@media (min-width: 768px) {
  .cause-minor {
    display: flex; }
  .cause-minor__road,
  .cause-minor__tourists {
    padding-top: 0; }
  .cause-minor__item {
    padding: 45px 6.5% 44px;
    width: 33.333%; }
  .cause-minor__name {
    margin-bottom: 10px;
    font-size: 21px; }
    .cause-minor__name br {
      display: block; }
  .cause-minor__number {
    margin-bottom: 21px; } }

@media (min-width: 866px) {
  .cause-minor__item {
    padding: 45px 4.8% 65px; } }

.map {
  margin: 0 auto;
  position: relative;
  height: 350px;
  max-width: 1200px;
  overflow: hidden; }
  .map::before {
    content: '';
    position: absolute;
    top: 161px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url("../img/map-marker.png");
    z-index: 3; }

.map_img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  z-index: 2; }

@media (min-width: 321px) {
  .map::before {
    top: 164px; } }

@media (min-width: 769px) {
  .map::before {
    top: 162px; } }

.hotel {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase; }

.hotel__wrapper {
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 49px;
  min-width: 280px;
  max-width: 458px;
  width: 87.5%;
  text-align: center; }

.hotel__heading {
  margin-bottom: 19px;
  font-family: "PTSans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }

.hotel__addition {
  margin-bottom: 35px;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000; }
  .hotel__addition br {
    display: none; }

.hotel__search {
  min-width: 280px;
  max-width: 458px;
  width: 100%;
  background: none;
  background-color: #81b3d2; }
  .hotel__search:hover {
    background-color: #669ec0; }
  .hotel__search:active {
    background-color: #5496bd; }
  .hotel__search:active .hotel__search__text {
    opacity: 0.3; }
  .hotel__search:disabled {
    background-color: #e5e5e5; }
  .hotel__search:disabled .hotel__search__text {
    opacity: 1; }

.hotel__search__text {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "PTSans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }

@media (min-width: 360px) {
  .hotel__addition br {
    display: block; } }

@media (min-width: 497px) {
  .hotel__wrapper {
    padding-top: 56px;
    padding-bottom: 58px; }
  .hotel__heading {
    margin-bottom: 30px;
    font-size: 24px; }
  .hotel__addition {
    margin-bottom: 42px; } }

@media (min-width: 1200px) {
  .hotel__wrapper {
    padding-bottom: 66px; }
  .hotel__addition {
    margin-bottom: 47px; } }

.photo-title {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .photo-title::before {
    content: '';
    position: absolute;
    top: -57px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../img/title-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: top center; }

.photo-title__wrapper {
  padding: 38px 6.25% 27px; }

.photo-title__name {
  margin-bottom: 26px;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }

.photo-title__reasons {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000; }
  .photo-title__reasons br {
    display: none; }

@media (min-width: 321px) {
  .photo-title::before {
    background-image: url("../img/title-bg-tablet.png"); } }

@media (min-width: 490px) {
  .photo-title__reasons br {
    display: block; } }

@media (min-width: 768px) {
  .photo-title__wrapper {
    padding-top: 75px;
    padding-bottom: 69px; }
  .photo-title__name {
    margin-bottom: 30px;
    font-size: 30px; } }

@media (min-width: 769px) {
  .photo-title::before {
    background-image: url("../img/title-bg-desktop.png"); } }

@media (min-width: 1200px) {
  .photo-title__wrapper {
    padding-top: 112px;
    padding-bottom: 71px; } }

.foto {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #fff; }

.foto__list {
  padding-top: 23px;
  padding-bottom: 18px;
  position: relative; }

.foto__item {
  padding-bottom: 40px;
  position: relative;
  width: 100%; }
  .foto__item:last-child {
    padding-bottom: 0; }

.foto__item__wrapper {
  padding-right: 6.25%;
  padding-left: 6.25%;
  width: 100%; }

.foto__picture {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  height: 280px; }

.foto__signature__wrapper {
  margin-bottom: 6px; }

.foto__name {
  margin-bottom: 2px;
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase; }

.foto__author {
  font-family: "PTSans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000; }

.foto__like {
  display: flex; }

.foto__like-icon {
  margin-right: 15px;
  width: 23px;
  height: 21px;
  background: none;
  opacity: 0.3; }

.foto__quantity-likes {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000; }

@media (min-width: 320px) and (max-width: 465px) {
  .foto__list::before,
  .foto__list::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5; }
  .foto__list::before {
    top: 0; }
  .foto__list::after {
    bottom: 0; }
  .foto__item::after {
    content: '';
    position: absolute;
    bottom: 22px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5; }
  .foto__item:last-child::after {
    display: none; } }

@media (min-width: 321px) {
  .foto__item__wrapper {
    overflow: hidden; }
  .foto__picture {
    height: 267px;
    position: relative; }
  .foto__img {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: 267px; } }

@media (min-width: 459px) {
  .foto__item__wrapper {
    padding-right: 7.81%;
    padding-left: 7.81;
    width: 100%; } }

@media (min-width: 466px) {
  .foto__list {
    padding-top: 42px;
    padding-left: 6.25%;
    padding-bottom: 0;
    padding-right: 6.25%;
    display: flex;
    flex-wrap: wrap; }
  .foto__item {
    padding-bottom: 0;
    width: 50%; }
    .foto__item:first-child {
      width: 100%; }
  .foto__item__wrapper {
    padding-left: 0;
    padding-right: 0; }
  .foto__picture {
    margin-bottom: 0; }
  .foto__signature {
    margin-top: -3px;
    padding: 15px 0 15px;
    background-color: #f2f2f2; }
  .foto__signature__wrapper {
    margin-right: auto;
    margin-bottom: 0; }
  .foto__like {
    width: 65px; } }

@media (min-width: 466px) and (max-width: 920px) {
  .foto__item:nth-child(2n+1):not(:first-child) .foto__signature {
    background-color: #eaeaea; } }

@media (min-width: 630px) {
  .foto__signature {
    padding: 15px 20px 15px 20px; } }

@media (min-width: 740px) {
  .foto__signature {
    display: flex;
    align-items: center; } }

@media (min-width: 768px) {
  .foto__list {
    padding-top: 0;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap; }
  .foto__item:first-child .foto__picture {
    height: 400px; }
  .foto__item:first-child .foto__img {
    height: 400px; } }

@media (min-width: 921px) {
  .foto__list {
    padding: 0; }
  .foto__item {
    margin-bottom: -3px; }
    .foto__item:not(:first-child) {
      width: 33.333%; }
  .foto__signature {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
  .foto__name {
    color: #fff; }
  .foto__author {
    color: #fff; }
  .foto__quantity-likes {
    color: #fff; }
  .foto__like-icon {
    opacity: 1.0; } }

.video {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  text-align: center; }

.vidoe__title {
  padding: 33px 12.5% 35px; }

.video-title__name {
  margin-bottom: 26px;
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000; }

.video-title__reasons {
  font-family: "PTSans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000; }
  .video-title__reasons br {
    display: none; }

.video__clip {
  position: relative;
  max-width: 800px; }

.video__file {
  width: 100%;
  overflow: hidden;
  vertical-align: bottom; }

.video__control {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  line-height: 0;
  text-align: start; }

.video__control__anew {
  margin-right: auto;
  margin-left: 25px;
  line-height: 0;
  transform: scale(-1, 1);
  background: transparent;
  fill: #5c6870; }
  .video__control__anew:hover {
    fill: #333333; }
  .video__control__anew:active {
    fill: rgba(51, 51, 51, 0.3); }

.video__control__slider-wrapper {
  padding-top: 19px;
  padding-bottom: 20px;
  position: absolute;
  top: -45px;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.video__control__slider {
  margin-right: 8.04%;
  margin-left: 8.04%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 83.92%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 0;
  text-align: center; }

.video__control__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50px; }

.video__control__subtitles {
  margin-right: 31px;
  line-height: 0;
  background: transparent;
  fill: #5c6870; }
  .video__control__subtitles:hover {
    fill: #333333; }
  .video__control__subtitles:active {
    fill: rgba(51, 51, 51, 0.3); }

.video__control__fullscreen {
  margin-right: 23px;
  line-height: 0;
  background: transparent;
  fill: #5c6870; }
  .video__control__fullscreen:hover {
    fill: #333333; }
  .video__control__fullscreen:active {
    fill: rgba(51, 51, 51, 0.3); }

@media (min-width: 466px) {
  .vidoe__title {
    padding-top: 67px;
    padding-bottom: 73px; } }

@media (min-width: 500px) {
  .video__control {
    margin: 0;
    padding-top: 19px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); }
  .video__control__anew {
    margin-right: 42px;
    margin-left: 35px;
    fill: #fff; }
    .video__control__anew:hover {
      fill: rgba(255, 255, 255, 0.6); }
    .video__control__anew:active {
      fill: rgba(255, 255, 255, 0.3); }
  .video__control__slider-wrapper {
    padding: 0;
    padding-top: 6px;
    position: relative;
    top: 0;
    background-color: transparent; }
  .video__control__slider {
    margin: 0;
    width: 100%; }
  .video__control__subtitles {
    margin-left: 42px;
    fill: #fff; }
    .video__control__subtitles:hover {
      fill: rgba(255, 255, 255, 0.6); }
    .video__control__subtitles:active {
      fill: rgba(255, 255, 255, 0.3); }
  .video__control__fullscreen {
    margin-right: 41px;
    fill: #fff; }
    .video__control__fullscreen:hover {
      fill: rgba(255, 255, 255, 0.6); }
    .video__control__fullscreen:active {
      fill: rgba(255, 255, 255, 0.3); } }

@media (min-width: 550px) {
  .video-title__reasons br {
    display: block; } }

@media (min-width: 768px) {
  .video-title__name {
    margin-bottom: 30px;
    font-size: 30px; }
  .video__clip {
    margin-right: 60px;
    margin-left: 60px; }
  .video__control {
    padding-top: 36px;
    padding-bottom: 37px; } }

@media (min-width: 920px) {
  .video__clip {
    margin: 0 auto; } }

@media (min-width: 921px) {
  .vidoe__title {
    padding-top: 71px;
    padding-bottom: 71px; } }
