@font-face {
    font-family: 'PTSans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PTSans-Regular.ttf');
}

@font-face {
    font-family: 'PTSans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/PTSans-Bold.ttf');
}

body {
    margin: 0 auto;
    padding: 0;
    position: relative;
    min-width: 320px;
    max-width: 1200px;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    background-color: #f2f2f2;
}

@media (min-width: 1200px) {
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: transparent;
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 1);
        z-index: -1;
    }
    body::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: transparent;
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 1);
        z-index: -1;
    }
}

* {
    box-sizing: border-box;
  }

  .visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

h1, h2, h3, a, p, span, ul, li, button {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    outline: none;
    border: none;
}